* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Algerian sans-serif;
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}